body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.logo {
    padding-top: 1em;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #6fa3ce;
    font-size: 1em;
    flex-wrap: wrap;
    font-size: 16px;
}

.titulo {
    font-family: 'Bebas Neue', cursive;
    color: #6fa3ce;
    font-size: 32px;
    margin-bottom: 0;
}

.versao {
    font-family: 'Montserrat', sans-serif;
    font-size: .6em;
    color: grey;
    margin-bottom: 1em;
}

header p {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: bold;
}

#titulo-cubagem {
    font-size: 24px;
}

.titulo-valor {
    color: #6fa3ce;
    font-size: 1.2em;
}

.div-cubagem {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 1em;
}

.div{
    display: flex;
    flex-direction: column;
}

.container-calc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1vh;
    padding: 1vh 5vw;
    background-color: #f1f6fa;
    border: 5px solid #6fa3ce;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.3);
}

.cubagem {
    display: flex;
    flex-direction: column;
}

div {
    margin-top: .5em;
}

.logo {
    width: 200px;
    margin: 0 auto 1em auto;
}

input, select {
    border: 2.5px solid #6fa3ce;
    color: #6fa3ce;
    border-radius: 7px;
    padding: 0.3em 0.5em;
}

input:focus {
    background-color: #f1f6fa;
    outline: #6fa3ce;
}

label {
    margin: auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #6fa3ce;
    padding: .5em 1em;
    background-color: #f1f6fa;
    border: 2.5px solid #6fa3ce;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.2);
    cursor: pointer;
    margin: .5em auto;
    transition: .5s all ease;
}

button:hover {
    background-color: #6fa3ce;
    border: 2.5px solid #6fa3ce;
    color: #f1f6fa;
}   


.container-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.frete, .peso-cubado {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
}

.container-box-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.informacoes-titulo {
    color: #969696;
}

#container-info {
    width: 64vw;
    flex-direction: column;
    border: 5px solid #969696;
    background-color: #ffffff;
    color: #969696;
}

li{
    list-style-type: none;
}

.box-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.box-titulo {
    color: #969696;
}

.box-descricao {
    color: #969696;
}

.box-image-g {
    width: 100px;
}

.box-image-m {
    width: 85px;
}

.box-image-i {
    width: 70px;
}

.box-image-p {
    width: 60px;
}

@media screen and (max-width: 768px) {
    .container-box-items {
        flex-direction: column;
    }
    #container-box, .container-calc, #container-info {
        width: 100%;
        margin: 10px auto;
    }
}
